<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'register_style.css' %}" />
  </head>
  <body>
    <h1>Register</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }} <button type="submit">Register</button>
    </form>
    {% if form.errors %}
    <ul class="error-messages">
      {% for error in form.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>
